body{
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    margin: 0;
    padding-top: 20px;

    /* center contents */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.attribution { 
    font-size: 14px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
.container{
    background-color: hsl(0, 0%, 100%);
    /* margin: 50px auto 20px; */
    padding: 20px;
    border-radius: 4%;
    border: 1px ridge black;
    width: 350px;
    border-style: outset;
    /* box-shadow:  3px 3px 5px rgba(0, 0, 0, 0.3); */
    box-shadow: 5px 5px;
    margin-bottom: 10px;
}
.image{
    border-radius: 4%;
    text-align: center;
    vertical-align: middle;
}

/* heading section */
#heading p:first-of-type{
    background-color: hsl(47, 88%, 63%);
    padding: 7px;
    font-weight: 800;
    border-radius: 7%;

    /* takes up the amount of space it uses */
    display: inline-block;
    margin-bottom: 0;
}
#heading p:first-of-type:hover{
    background-color:hsl(47, 94%, 25%);
}

/* content section */
#content h1{
    font-weight: 800;
}
#content h1:hover{
    color:  hsl(47, 88%, 63%);
}
#content p{
    color: hsl(0, 0%, 50%);
    line-height: 1.5;
}


/* footer section */
#footer img{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
#footer p{
    font-weight: 800;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}
